PKG=samba
NAME=TEST PACKAGE FOR SAMBA 3.2.4 BINARIES
ARCH=__ARCH__
VERSION=__VERSION__
CATEGORY=system
EMAIL=phil@opencsw.org
CLASSES=none
INTONLY=1
ISTATES="S s 1 2 3"
RSTATES="S s 1 2 3"
BASEDIR=__BASEDIR__
