# This is a shell script fragment.
# 
# This file is sourced by the /etc/opt/csw/init.d/csw@PGNAME_VERSIONED@
# startup script, and can be used to override the defaults.
#
# Please use alternatives to choose between 32/64bit version of the
# server (See also @docdir@/@PGNAMEVERSIONED@_server/README.CSW)

# The location of the data directory.
#
# Default: @PGDATA@
PGDATA=@PGDATA@

# Specifies the shutdown mode. mode can be smart, fast, or immediate,
# or the first letter of one of these three.
#
# Default: fast
#SHUTDOWNMODE=fast

# Append the server log output to filename. If the file does not
# exist, it is created. The umask is set to 077, so access to the log
# file from other users is disallowed by default
#
# Default: ${PGDATA}/postgresql.log
#PGLOGOUTPUT=${PGDATA}/postgresql.log

# Additional options to pass to postmaster.
#
# Please note: it is no longer necessary to pass the '-o' option.
#
# SERVEROPTS="-i"

##
## The following variables are used by initdb when initializing the
## database cluster
##

# The PostgreSQL encoding of the database cluster. This is used when
# initializing the database cluster using the init script.
#
# For a complete list of character sets supported, go to
#
#  http://www.postgresql.org/docs/@BASE_VERSION@/static/multibyte.html#MULTIBYTE-CHARSET-SUPPORTED
#
# Default: UTF8
#PGENCODING=UTF8

# The locale used to initialize the database cluster.
#
# If none is specified, the locale is inherited from the environment
# that initdb runs in.
#
# Default: <empty>
#PGLOCALE=en_US.UTF-8

# Selects the user name of the database superuser. This defaults to
# the name of the effective user running initdb. It is really not
# important what the superuser's name is, but one might choose to keep
# the customary name postgres, even if the operating system user's
# name is different.
#
# Default: postgres
#PGSUPERUSER=postgres
