#!/bin/sh
# $Id$
#
# PostgreSQL startup script - part of the CSWpostgresql package
# mark@blastwave.org
# 
# 2009-11-29  Maciej Blizinski (maciej@opencsw.org)
#   - Parametrized file locations
#   - Style changes
#              
#
# This files is a template.  The following variables need to be substituted
# before it can be run:
#
# - PGDATA
# - bindir
# - sysconfdir

USERCONF=postgresql-@BASE_VERSION_NODOT@.conf
PGCTL=@bindir@/pg_ctl-@BASE_VERSION_NODOT@
PGINIT=@bindir@/initdb-@BASE_VERSION_NODOT@

# Read in the user configuration file
[ -s /opt/csw/etc/${USERCONF} ] && . /opt/csw/etc/${USERCONF}
[ -s @sysconfdir@/${USERCONF} ] && . @sysconfdir@/${USERCONF}

# Defaults
[ -z "${PGDATA}" ] && PGDATA=@PGDATA@


# Exit if postgres user hasn't been created.
# FIXME: This bit of code is old. It might be obsolete.
if grep '^postgres:' /etc/passwd >/dev/null; then
	echo > /dev/null
else
  getent passwd postgres >/dev/null
  if [ $? -ne 0 ] ; then
         exit 0
  fi
fi

# Change to ${PGDATA}, as pgctl etc. need to be started from
# a directory that they can read
cd "${PGDATA}"

case "$1" in
start)
      if [ -d ${PGDATA} -a `ls -l ${PGDATA} 2> /dev/null | wc -l` -gt 1 ]; then
         # PostgreSQL data directory exists and is populated
         echo "Starting PostgreSQL..."
         su postgres -c "${PGCTL} -D ${PGDATA} -l ${PGDATA}/postgresql.log start ${SERVEROPTS}"
      fi
      ;;

stop)
     echo "Stopping PostgreSQL database..."
     su postgres -c "${PGCTL} -D ${PGDATA} -l ${PGDATA}/postgresql.log stop"
     true  # The previous command fails when there's no .pid file
     ;;

restart)
     echo "Restarting PostgreSQL database..."
     su postgres -c "${PGCTL} -D ${PGDATA} -l ${PGDATA}/postgresql.log restart ${SERVEROPTS}"
     ;;

reload)
     echo "Reloading PostgreSQL database..."
     su postgres -c "${PGCTL} -D ${PGDATA} -l ${PGDATA}/postgresql.log reload ${SERVEROPTS}"
     ;;

status)
     su postgres -c "${PGCTL} -D ${PGDATA} status"
     ;;

init)
     # create and initialise data directory
     echo "Creating PostgreSQL data directory at ${PGDATA}..."
     # Create it, unless it's already there and empty
     [ -d "${PGDATA}" -a `ls -l ${PGDATA} 2> /dev/null | wc -l` -eq 1 ] || mkdir -p "${PGDATA}"
     chown postgres "${PGDATA}"
     chmod 0700 "${PGDATA}"
     echo "Initialising PostgreSQL database..."
     su postgres -c "\"${PGINIT}\" -D \"${PGDATA}\" -E utf-8"
     ;;

*)
     echo "Usage: ${0} (init|start|stop|restart|reload|status)"
     ;;

esac

# vim:set ft=sh sw=2 ts=2 sts=2 expandtab si ci:
